/* ----------------------------------------------------------- */
/* == card */
/* ----------------------------------------------------------- */

.card,
.card:visited {
  display: block;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  background-color: #fff;
  box-shadow: 2px 2px 2px 0 #e2e2e2;
  color: $color-dark-text;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  box-shadow: 3px 3px 4px 0 #e2e2e2;
  text-decoration: none;
}


/* card blog
-------------------------------------------------------------- */

.card-blog__sub > svg {
  display: inline-block;
  margin-right: .2rem;
  vertical-align: middle;
}

.card-blog > div {
  padding-left: 2rem;
  border-left: 3px solid #c7cad0;
}

.card-blog--published > div {
  border-left-color: #00d6a5;
}

.card-blog h2 {
  margin: 0 0 1rem 0;
}

/* card user
-------------------------------------------------------------- */

.card-user:link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-user h2 {
  margin: 0;
  font-size: 1.7rem;
  line-height: normal;
}

.card-user__separator {
  display: inline-block;
  margin: 0 .8rem;
}

.card-user__status {
  margin-left: auto;
}