/* ----------------------------------------------------------- */
/* == editor */
/* ----------------------------------------------------------- */

.editor {
  margin-right: auto;
  margin-left: auto;
  max-width: 62rem;
}

.editor-title {
  margin-top: 7rem;
  margin-bottom: 3.5rem;
  padding: 0;
  max-width: 100%;
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: #585858;
  font-size: 3.3rem;
}

.editor-title:focus {
  box-shadow: none;
}

/* ----------------------------------------------------------- */
/* == Topbar */
/* ----------------------------------------------------------- */

.editor-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 25rem;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 4rem;
  background-color: #f0f0f0;
}

.editor-topbar__actions {
  display: flex;
}

.editor-topbar__actions button {
  padding: 0 1.5rem;
  border: none;
  border-left: 1px solid #cfd2d8;
  background-color: transparent;
  font-size: 1.6rem;
  line-height: 0;
}


/* ----------------------------------------------------------- */
/* == status */
/* ----------------------------------------------------------- */

.editor-status {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .8rem;
  height: 4rem;
  border-top: 1px solid #f0f0f0;
  background-color: #fff;
}

/* ----------------------------------------------------------- */
/* == Quill */
/* ----------------------------------------------------------- */

.editor .ql-container.ql-snow {
  padding: 0;
  border: none;
}

.editor .ql-editor {
  padding: 0;
  color: #585858;
  font-size: 1.6rem;
  line-height: 1.7;
}

.editor .ql-editor.ql-blank::before {
  left: 0;
  color: lighten($color-dark-text, 0%);
  font-style: normal;
}

.editor-topbar .ql-toolbar.ql-snow {
  padding: 0;
  border: none;
}

.editor-topbar .ql-toolbar.ql-snow .ql-formats:first-of-type {
  padding-left: .8rem;
}

.editor-topbar .ql-toolbar.ql-snow .ql-formats {
  margin-right: .8rem;
  padding-top: .8rem;
  padding-right: .8rem;
  padding-bottom: .5rem;
  border-right: 1px solid #cfd2d8;
}

/* ----------------------------------------------------------- */
/* == editor */
/* ----------------------------------------------------------- */

.editor {
  flex-grow: 1;
  padding-bottom: 7rem;
}


/* ----------------------------------------------------------- */
/* == editor wrapper */
/* ----------------------------------------------------------- */

.editor-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/* ----------------------------------------------------------- */
/* == sidebar */
/* ----------------------------------------------------------- */

.editor-sidebarBtn > svg:nth-child(2) {
  display: none;
}

.editor-sidebarBtn--closingMode svg:nth-child(2) {
  display: inline;
}
.editor-sidebarBtn--closingMode svg:nth-child(1) {
  display: none;
}

.editor-sidebar {
  position: fixed;
  top: 4rem;
  right: 0;
  bottom: 4rem;
  padding: 0 2rem;
  width: 30rem;
  border-left: 1px solid #f0f0f0;
  background-color: #fff;
  transition: transform .5s ease;
  transform: translateX(30rem);
}

.editor-sidebar__section {
  margin: 0 -2rem;
  padding: 1rem 2rem;
  border-top: 1px solid #cfd2d8;
  border-bottom: 1px solid #cfd2d8;
  background-color: #f0f0f0;
  color: #6c7688;
  font-size: 1.6rem;
}

.editor-sidebar--open {
  transform: translateX(0);
}

.editor-sidebar input,
.editor-sidebar textarea {
  min-width: 0;
}

/* sidebar list
-------------------------------------------------------------- */

.editor-sidebar-list a,
.editor-sidebar-list a:visited,
.editor-sidebar-list a:hover {
  display: block;
  padding: 1rem;
  border-bottom: 1px solid #cfd2d8;
  color: $color-dark-text;
  text-decoration: none;
}
