.app {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.navigation {
    background-color: #fff;
    flex: 0 0 25rem;
    color: #6C7688;
    display: flex;
    flex-direction: column;
}

.navigation-profil {
    border-bottom: 1px solid #CFD2D8;
    padding: 1.5rem;
    font-size: 1.8rem;
}

.navigation-menu {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.navigation-menu__bottom {
    border-top: 1px solid #CFD2D8;
    text-align: center;
    margin-top: auto;
}

.navigation-logout {
    color: #d64a5f;
    text-decoration: none;
    padding: 1rem;
    display: block;
    font-size: 1.6rem;
    background: transparent;
    border: none;
    box-shadow: transparent;
    text-align: center;
    display: block;
    width: 100%;
}


.navigation-menu__main a {
    display: block;
    font-size: 1.6rem;
    padding: 1.3rem;
    border-left: 3px solid transparent;
    text-decoration: none;
}

.navigation-menu__main a svg {
    vertical-align: middle;
    margin-right: .5rem;
}

.navigation-menu__main .is-active,
.navigation-menu__main a:hover {
    border-left: 3px solid #d64a5f;
}

.navigation-menu__main a,
.navigation-menu__main a:hover,
.navigation-menu__main a:visited {
    color: #6C7688;
    font-size: 1.6rem;
}

.content {
    flex: 1;
    padding: 3rem;
}